name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Install Templ
      run: go install github.com/a-h/templ/cmd/templ@latest

    - name: Generate Templ Files
      run: templ generate

    - name: Verify Dependencies
      run: go mod verify

    - name: Run Tests
      run: go test -v ./...
